*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Poppins,sans-serif";
    text-decoration: none;
    list-style: none;
    font-weight: 100;
}
body{
   font-family: "Poppins,sans-serif";
   font-weight: 100;
}

.container{
    width: 80%;
    margin: auto;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* hero section */
.home_hero_sec{
    background:#1C1E53;
}
.home_hero_sec .container{
    width: 80%;
    margin: 0 auto;
}
nav.navbar{
    display: flex;
    justify-content: space-between;
    /* height: 100px; */
    align-items: center;
    padding: 25px 0;
    margin-bottom: 145px;
}
nav.navbar h2{
    color: aliceblue;
    font-family: "poppins";
    /* height:70px ; */
    font-size: 20px;
}
nav.navbar .hero_links ul{
    display: flex;
    list-style: none;
}
nav.navbar .hero_links ul li a {
    color: #BBBBCB;
    font-size: 20px;
    padding: 0 10px;
    text-decoration: none;
    display: block;
    padding: 20px;
}
nav.navbar .hero_links ul li a.active{
    color: aliceblue;
}
nav.navbar .hero_links ul li a.hero_btn{
    background: #1C1E53;
    border: #F4F6FC 1px solid;
    border-radius:40px;
    padding:  20px 30px;
}
 .hero_content{
    /* margin: 100px 0; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
 }
 .hero_content .r_sec{
   width: 40%;
 }
 .hero_content .r_sec h2{
    padding: 20px 0;
    color: #F4F6FC;
    font-size: 50px;
 }
 .hero_content .r_sec p{
    color: #BBBBCB;
    padding: 15px 0;
 }
 .hero_content .r_sec .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .hero_content .r_sec .btn .btn_1{
    background: #FCD980;
    border-radius: 40px;
    padding: 20px 30px;

 }

 .hero_content .r_sec .btn .btn_2{
    color: #F4F6FC;
    
 }
 .hero_content .r_sec .btn .btn_2 span{
    display: block;
    margin-right: 70px;
 }


 /* how we work section */
 .how_sec {
    background: gry;
    padding-top: 128px;
    padding-bottom: 128px;
 }
 .how_sec .container{
    display: flex;
    justify-content: space-between;
    
 }
 .how_sec .container .heading{
    width: 30%;

 }
 .how_sec .container .heading h2{
    padding: 16px 0;
    font-size: 40px;
 }
 .how_sec .container .heading p{
    color: gray;
    font-size: 20px;
    padding: 16px 0;
 }
 .how_sec .container .heading a{
    text-decoration: none;
    font-size: 18px;
    padding: 16px 0;
    color: royalblue;
    /* margin-top: 50px; */
 }
 .how_sec .container .heading a.arrow {
    color: royalblue;
    margin-left: 10px;
    /* display: ; */
 }
 .how_sec .container .cards{
    width: 60%;
 }
 .how_sec .container .cards .card_1,
 .how_sec .container .cards .card_2{
    /* width: 50%; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 }
 .how_sec .container .cards .card_1 .card img,
 .how_sec .container .cards .card_1 .card h2,
 .how_sec .container .cards .card_1 .card p
 {
    margin-bottom: 16px;
 }
 /* our work section --------------------------------------*/
 .our_work_sec{
   margin-bottom: 128px;
 }
.our_work_sec .container .heading{
   display: flex;
   justify-content: space-between;
   padding: 60px 0 ;
}
.our_work_sec .container .heading a{
   text-decoration: none;
   color: darkblue;

}
.our_work_sec .container .content{
   display: flex;
   justify-content: space-between;
}
.our_work_sec .container .content .card_1{
   margin-right: 23px;
   width: 60%;
}
.our_work_sec .container .content .card_1 img{
   width: 100%;
   height: 100%;
}
.our_work_sec .container .content .card_2{
   width: 40%;
}
.our_work_sec .container .content .card_2 img{
   width: 90%;
}
.our_work_sec .container .content .card_2 img.m_5{
   margin-bottom: 32px;
}
/* features section =================================== */
.Features_sec{
   background:#F4F6FC;
}
.Features_sec .container .heading{
   /* text-align: center; */
   padding: 128px 0px ;
   /* width: 50%; */
   /* margin: auto; */
}
.Features_sec .container .heading h5{
   color: darkblue;
   padding: 12px;
   text-align: center;

}
.Features_sec .container .heading p.content1{
   color: rgb(1, 1, 44);
   font-size: 40px;
   width: 35%;
   margin: auto;
   text-align: center;
}
.Features_sec .container .cards{
margin-bottom: 24px;
margin-top: 24px;
/* padding: 1px; */
/* width: 100% !important; */
}

.Features_sec .container .cards .card1,
.Features_sec .container .cards .card2{
   /* padding: 24px; */
   display: flex;
   justify-content: space-between;
   margin-bottom: 31px;

}
.Features_sec .container .cards .card1 div,
.Features_sec .container .cards .card2 div{
   background: white;
   font-size: 18px;
   padding: 48px;
}
.Features_sec .container .cards .card1 div.m-5,
.Features_sec .container .cards .card2 div.m-5{
   margin: 0 32px;
}
.Features_sec .container .cards .card1 div h2,
.Features_sec .container .cards .card2 div h2{
   font-size: 24px;
   padding: 10px 0;
}
.Features_sec .container .cards .card1 div p ,
.Features_sec .container .cards .card2 div p {
   text-align: left !important;
   font-size: 18px;
   color: rgb(7, 7, 60);
}

/* Testimonials section-------------------------------------- */
.Testimonials-sec {
   
   background: #F4F6FC;
}
.Testimonials-sec  .container .row{
   display: flex;
   justify-content: space-between;
   padding: 128px 0;
}
.Testimonials-sec  .container .row .head{
   width: 30%;
   margin-right: 110px ;
}
.Testimonials-sec  .container .row .head h2{
   font-size: 35px;
}
.Testimonials-sec  .container .row .head p{
   font-size: 18px;
   margin-top: 16px;
   color: #282938;
}


.Testimonials-sec  .container .row .content {
   width: 70%;
}
.Testimonials-sec .container .row .content p{
   font-size: 35px;
   color: #282938;
   margin-bottom: 48px;
}

.Testimonials-sec .container .row .content .profile{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.Testimonials-sec .container .row .content .profile .image{
   display: flex;
   justify-content: space-between;
}
.Testimonials-sec .container .row .content .profile img{
   border-radius: 50%;
   width: 50%;
   display: inline-block;
}
.name{
   margin-left: 15px;
   display: flex;
   width:140%;
   font-size: 12px;
   flex-direction: column;
   justify-content: space-between;
}

/*EAQ section ------------------------------- */
.FAQ-sec .container .row{
   display: flex;
   padding: 100px 0;
   justify-content: space-between;
}
.FAQ-sec .container .row .head{
   width: 40%;
}
.FAQ-sec .container .row .question{
   width: 60%;
}
.FAQ-sec .container .row .head h2{
   font-size: 35px;
   width: 53%;
   padding-bottom: 16px ;
}
.FAQ-sec .container .row .head a {
   font-size: 15px;
}
.FAQ-sec .container .row .question div{
   border-bottom: 1px solid rgb(218, 214, 214);
}
.FAQ-sec .container .row .question .q1-expand{  
   display: flex;
   justify-content: space-between;
   align-items:flex-start;
   
}
.FAQ-sec .container .row .question .q1-expand span{
   font-size: 20px;
   color: blue;
   margin-right: 59px;
}
.FAQ-sec .container .row .question .q1-expand .q1{
   margin-bottom: 25px;
   border: 0;
}
.FAQ-sec .container .row .question .q1-expand .q1 h3{
   font-size: 18px;
   margin-bottom: 10px;
}
.FAQ-sec .container .row .question .q1-expand .q1 p{
   margin-bottom: 20px;
   color: #282938;
   width: 80%;
   line-height: 30px;
}
.FAQ-sec .container .row .question .q1-expand svg{
   color: gray;
}
.FAQ-sec .container .row .question .q2,
.FAQ-sec .container .row .question .q3,
.FAQ-sec .container .row .question .q4,
.FAQ-sec .container .row .question .q5
{
   padding: 25px 0;
   display: flex;
   justify-content: space-between;
}
.FAQ-sec .container .row .question .q2 span,
.FAQ-sec .container .row .question .q3 span,
.FAQ-sec .container .row .question .q4 span,
.FAQ-sec .container .row .question .q5 span{
   font-size: 20px;
   color: blue;
   margin-right: -200px;

}
.FAQ-sec .container .row .question .q2 h3,
.FAQ-sec .container .row .question .q3 h3,
.FAQ-sec .container .row .question .q4 h3,
.FAQ-sec .container .row .question .q5 h3{
   font-size: 18px;
   width: 50%;
}
.FAQ-sec .container .row .question .q2 svg,
.FAQ-sec .container .row .question .q3 svg,
.FAQ-sec .container .row .question .q4 svg,
.FAQ-sec .container .row .question .q5 svg{
   color: gray;
}
/* contact section======================================================== */
.contact-sec .container .row{
   display: flex;
   padding: 120px 0;
   
}
.contact-sec .container .row .head{
   position: relative;
   background-image: url("../images/woman-writing-on-paper-3228878.png");
   background-position: center;
   background-size:auto;   
   background-repeat: no-repeat;
   width: 700px;
   height: 650px;
}
.contact-sec .container .row .head .clear{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: 0.5;
   z-index: 1;
}
/* .contact-sec .container .row .head img{
width: 100%;
} */
.contact-sec .container .row .head .content{ 
   padding:  120px ;
   color: white;
   z-index: 5;
   position: absolute;
}
.contact-sec .container .row .head .content h2{
   font-size: 35px;
   padding-bottom: 30px;
}

.contact-sec .container .row .head .content p {
   font-size: 18px;
}
.contact-sec .container .row .form-sec{
   padding: 120px ;
   background-color: #1C1E53;
   width: 50%;
   color: #F4F6FC;
}
.contact-sec .container .row .form-sec h2{
   font-size: 35px;
   /* color: white; */
   padding-bottom: 15px;
}
.contact-sec .container .row .form-sec p{
   font-size: 10px;
   /* width: 103%; */
   padding-bottom: 15px;
   line-height: 30px;
}
.contact-sec .container .row .form-sec form input{
   padding: 15px;
   color: white;
   padding-right: 60px;
   margin-bottom: 15px;
   border-radius: 10px;
   background-color: #1C1E53;
   border: 1px solid rgb(210, 210, 210 ,0.19);
}
.contact-sec .container .row .form-sec form button{
   padding: 15px 80px;
   background: #FCD980;
   font-size: 11px;
   border-radius: 50px;
   border: 0;
   margin-bottom: 15px;
}

.contact-sec .container .row .form-sec span {
   display: block;
   margin: 0 40px;
   /* width: 100%;   */

}
/* blog-section======================================================================= */
.blog-sec .container h2{
   font-size: 35px;
   margin-bottom:64px ;
   font-weight: bold;
}
.blog-sec .container .row{
   margin-bottom: 64px;
   display: flex;
   /* justify-content: space-between; */

}
.blog-sec .container .row .col.m-5{
   margin: 0 64px;
}
.blog-sec .container .col {
   width: 30%;
}
.blog-sec .container .col img{
   width: 100%;
   margin-bottom: 40px;
}
.blog-sec .container .col span{
   font-size: 15px;
   color: #7a7b7e;
   margin-bottom: 16px;
   display: block;
}
.blog-sec .container .col h3{
   font-size: 24px;
   color: #1C1E53;
   margin-bottom: 16px;
   font-weight:100;
}

.blog-sec .container .col p{
   font-size: 16px;
   color: #666768;
   margin-bottom: 32px;
}
.blog-sec .container .col a{
   color: #000;
}
.blog-sec .container .col a {
   margin-right: 10px;
}
/* footer section================================================= */
footer{
   background: #1C1E53;

}

footer .container .row .row1{
   display: flex;
   justify-content: space-between;

}

footer .container .row .row1 .col1{
   padding: 96px 160px;
   padding-bottom: 0;
   width: 40%;
}
footer .container .row .row1 .col1 img{
   margin-bottom: 23px;
   width: auto;

}
footer .container .row .row1 .col1 p{
   font-size: 18px;
   color: #F4F6FC;
   width: 400px;
   margin-bottom: 70px;
}
footer .container .row .row1 .col1 .email{
   background: #FCD980;
   padding: 17px 30px;
   width: 400px;
   margin-bottom: 0;
}
footer .container .row .row1 .col1 .email .me{
   margin-right: 100px;
   font-weight: 900;
}
footer .container .row .row1 .col1 .email .us{
   font-weight: 900;
   /* margin-bottom: 1px; */
   margin-left: 20px;
}
footer .container .row .row1 .col1 .email h4{
   color: #7a7b7e;
   margin-right: 95px;
   font-size: 12px;
   display: inline-block;

}
footer .container .row .row1 .col1 .email .num{
   font-size: 12px;
   color: #7a7b7e;
}

footer .container .row .row1 .col2{
   padding: 85px 100px ;
   color: #F4F6FC;
   width: 60%;
} 
footer .container .row .row1 .col2 h2{
   margin-bottom: 35px;
   font-size: 40px;
   font-weight: 900;
}
footer .container .row .row1 .col2 p {
   color: #BBBBCB;
   font-size: 18px;
   font-weight: 100;
   margin-bottom: 35px;
}
footer .container .row .row1 .col2 a{
   color: white;
   margin-right: 26px;
}
footer .container .row .row2{
   display: flex;
   justify-content: space-between;
   padding: 32px 160px;
   background:#F4F6FC;
   width: 100%;
   position: absolute;
}
footer .container .row .row2 .col1 {
   width: 50%;
}
footer .container .row .row2 .col1 h3{
   font-size: 16px;
}
footer .container .row .row2 .col2{
   width: 50%;
}
footer .container .row .row2 .col2 ul li{
   display: inline-block;
   padding: 0 10px;
   font-size: 400;
}
footer .container .row .row2 .col2 ul li a{
   color: #000;
}


































































































